@import "./import/mixin";
.breadCrumb{
    &Box{
        border-bottom: 1px solid $main-color;
        @include media-sp{
            border-bottom: 1px solid #DBF3FF;
        }
    }
    max-width: 1280px;
    margin: auto;
    padding: 10px 0;
    @include media-sp{
        padding: 10px;
        font-size: 1rem;
    }
    &__item{
        a{
            color: $sub-color;
        }
    &:not(:last-child){
        &::after{
            content: ">";
            margin: 0 0.5em;
        }
    }
}
}
.mv{
    margin-bottom: 0;
    background: linear-gradient(#036DB7, #2EA7E0 85%);
    &--under{
    background-image: url(../img/message/mv.jpg);
    background-position: left center;
    background-size: cover;
    padding: 110px 0 110px 123px;
    background-repeat: no-repeat;
    &--company{
        background-image: url(../img/company/mv.jpg);
    }
    &--error{
        background-image: url(../img/error/mv.jpg);
    }
    @include media-sp{
        background-image: none;
        padding: 30px;
    }
    &__title{
        font-size: 3.2rem;
        font-weight: bold;
        color: $sub-color;
        border-left: 1px solid $sub-color;
        line-height: 1.5;
        padding-left: 25px;
        @include media-sp{
            font-size: 2.4rem;
            padding-left: 12px;
            line-height: 1;
        }
    }
    &__subTitle{
        color: $font-color;
        font-size: 2.2rem;
        @include media-sp{
            font-size: 1.2rem;
        }
    }
    }
}
.mv__header {
    margin-bottom: 0;
}
.msMovBox{
    &__logo{
        max-width: 226px;
        margin: auto auto 74px;
        @include media-sp{
            width: 50%;
            margin: auto auto 45px;
        }
    }
}
.sec--small{
    padding: 68px  0 87px;
    @include media-sp{
        padding: 34px 0 44px;
    }
}

.messageContent{
    &__text{
      font-size: 2.2rem;
      text-align: center;
      line-height: 2;
      @include media-sp{
          font-size: 1.2rem;
      }
      &:not(:last-child){
        margin-bottom: 40px;
        @include media-sp{
            margin-bottom: 24px;
        }
      }
      &--exBig{
        font-size: 3.6rem;
        @include media-sp{
            font-size: 1.8rem;
        }
      }
      &--big{
        font-size: 2.4rem;
        @include media-sp{
            font-size: 1.2rem;
        }
      }
    }
  }
  .textEmpha{
    color: $sub-color;
  }
  .fTitle{
    background-image: url(../img/message/footer.jpg);
    padding: 20px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-sp{
        padding: 15px 25px;
    }
    &__Bg{
        padding: 140px;
        background-color: rgba(255, 255, 255, 0.644);
        border-radius: 20px;
        text-align: center;
        position: relative;
        @include media-sp{
            padding: 62px;
            &::after{
                content: "";
                background-image:url(../img/common/footer_arrow-sp.svg);
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 40px;
                width: 20px;
                margin: auto;
                position: absolute;
                right: 15px;
                top: 0;
                bottom: 0;
            }
        }
    }
    &__title{
        font-size: 3.6rem;
        margin-bottom: 10px;
        @include media-sp{
            font-size: 2rem;
        }
    }
    &__subTitle{
        color: $sub-color;
        @include media-sp{
            font-size: 1rem;
        }
    }
  }
.copyRight__logo--under{
    width: 318px;
    @include media-sp{
        width: 30%;
    }
}
.sec__table{
    padding: 120px 70px;
    background-color: #fff;
    @include media-sp{
    margin: 0 5% ;
    padding: 35px 20px;
    }
}
.table{
    width: 100%;
    color: #4F4F4F;
    tr{
        border-top: 1px solid #E2E2E2;
        &:last-child{
            border-bottom: 1px solid #E2E2E2;
        }
    }
    th{
        padding: 40px 0;
        width: 30%;
        @include media-sp{
            padding: 20px 0 10px 0 ;
            font-size: 1.2rem;
            display: block;
            width: 100%;
        }
    }
    td{
        padding: 40px 0;
        @include media-sp{
            padding: 0 0 20px 0;
            font-size: 1.2rem;
            display: block;
        }
    }
}
.mv--under--contact{
    background-image: url(../img/contact/mv.jpg);
    @include media-sp{
        background-image: none;
    }
}
.contactDesc{
    text-align: center;
    color: #fff;
    margin: 0 5%;
    &__title{
    font-size: 3.6rem;
    margin-bottom: 30px;
    @include media-sp{
        font-size: 1.6rem;
    }
}
&__note{
    margin-bottom: 40px;
    @include media-sp{
        font-size: 1.2rem;
    }
}
}
.contactTelBox{
    max-width: 1080px;
    background-color: #fff;
    padding: 35px;
    text-align: center;
    margin: auto;
    @include media-sp{
        padding: 35px 10px;
    }
    &__text{
        color: $accent-color;
        font-size:3.6rem;
        @include media-sp{
            font-size: 1.6rem;
        }
    }
    &__tel{
        font-size: 6.4rem;
        color: $sub-color;
        @include media-sp{
            font-size: 3.6rem;
        }
    }
    &__note{
        color: $sub-color;
        @include media-sp{
            font-size: 1.2rem;
        }
    }
}
.contactform{
    @include media-sp{
        margin: 0 10%;
    }
    dt{
        font-weight: normal;
        margin-bottom: 16px;
        @include media-sp{
            margin-bottom: 7px;
            font-size: 1.2rem;
        }
    }
    dd{
        margin-bottom: 40px;
        @include media-sp{
            margin-bottom: 30px;
        }
    }
    input[type="text"],input[type="email"]{
        padding: 20px 13px;
        background-color: #F4F4F4;
        width: 100%;
        @include media-sp{
            padding: 15px 7px;
            font-size: 1.4rem;
        }
        &::placeholder {
            color: rgb(218, 218, 218);
          }
    }
    textarea{
        @extend input[type="text"];
    }
    input[type="checkbox"]{
        background-color: #F4F4F4;
    }
    &__privacy{
        margin-bottom: 40px;
    }
    &__scroll{
    margin-bottom: 40px;
    @include media-sp{
        margin-bottom: 20px;
    }
}
}
.required{
    &::after{
        content: "※";
        color: #E68A00;
        margin-left: 5px;
        font-size: 1em;
    }
}
.scroll{
    padding: 18px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    overflow-y: scroll;
    color: $sub-color;
    border: 1px solid #707070;
    @include media-sp{
        width: 100%;
        height: 195px;
    }
    &__title{
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 1.5rem;
        @include media-sp{
            font-size: 1.6rem;
        }
    }
    &__stitle{
        font-weight: bold;
        @include media-sp{
            font-size: 1.4rem;
        }
    }
    &__content{
        
        &:not(:last-child){
        margin-bottom: 1.5rem;}
    }
    &__text{
        @include media-sp{
            font-size: 1.2rem;
        }
    }
}
.privacyCheck{
    text-align: center;
    @include media-sp{
        font-size: 1.2rem;
    }
    &__title{
    margin-bottom: 9px;
}

    input[type="checkbox"]{
        margin-right: 5px;
    }
    
}

.contactBtn{
    padding: 20px 60px;
    background-color: $sub-color;
    color: #fff;
    border-radius: 50px;
    @include media-sp{
        width: 100%;
        padding: 20px 0;
    }
    &s{
        text-align: center;
    }
}
.errorMessage{
    &__text{
        font-size: 36px;
        text-align: center;
        margin-bottom: 69px;
        @include media-sp{
            font-size: 16px;
        }
    }
    &__btns{
        text-align:center;
        margin: 0 5%;
    }
}
.btn--error{
    padding: 1rem 8rem;
    @include media-sp{
        padding: 1rem 3rem;
    }
    &:not(:first-child){
        margin-left: 36px;
        @include media-sp{
            margin-left: 5%;
        }
    }
}
