@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

a:hover {
  opacity: 0.8;
}

.header {
  max-width: 1839px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.is-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: inherit;
  z-index: 100000;
  top: 0;
  margin: 0;
  border-radius: 0;
  padding: 20px 110px;
  border-bottom: 1px solid #2EA7E0;
}

.headerSp {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .headerSp {
    display: block;
    height: 47px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #036DB7;
    z-index: 100000;
  }
  .headerSp__logo {
    height: 100%;
    padding: 5px;
    text-align: center;
  }
  .headerSp__logo img {
    max-height: 100%;
    max-width: 60px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 600px;
}

.header__menu li:not(:first-of-type) {
  margin-left: 30px;
}

.header__menu a:not(.btn) {
  padding-bottom: 10px;
  border-bottom: 1px solid #036db800;
  position: relative;
}

.header__menu a:not(.btn)::after {
  background-color: #036DB7;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: .4s all;
  transition: .4s all;
  width: 0;
}

.header__menu a:not(.btn):hover::after {
  width: 100%;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.hbmenuBox__btn {
  /* ボタンの配置位置  */
  position: fixed;
  top: 16px;
  right: 16px;
  /* ボタンの大きさ  */
  width: 20px;
  height: 20px;
  /* バーガーの線をボタン範囲の中心に配置 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 最前面に */
  z-index: 10;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
  /* 線の長さと高さ */
  width: 100%;
  height: 1px;
  /* バーガー線の色 */
  background-color: #036DB7;
  /* バーガー線の位置基準として設定 */
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
  right: 0;
  content: "";
  /* 基準線と同じ大きさと色 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #036DB7;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-line::before {
  /* 上の線の位置 */
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.btn-line::after {
  /* 下の線の位置 */
  width: 13px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

/***** メニューオープン時 *****/
.btn-line.open {
  /* 真ん中の線を透明に */
  background-color: transparent;
}

.btn-line.open::before,
.btn-line.open::after {
  content: "";
  -webkit-transition: .2s;
  transition: .2s;
  width: 20px;
}

.btn-line.open::before {
  /* 上の線を傾ける */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-line.open::after {
  /* 上の線を傾ける */
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/**************** ここまで、ハンバーガーボタンのスタイリング ****************/
/**************** 以下、メニューのスタイリング ****************/
.menu {
  position: fixed;
  /* メニューの位置マイナス指定で画面外に */
  right: -100%;
  width: 100%;
  height: calc(100vh - 45px);
  /* メニューを縦に */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #efefef;
  background-color: #036DB7;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.menu li {
  margin: 20px;
}

.menu .btn {
  color: #036DB7;
  background-color: #fff;
}

/***** メニューオープン時位置0にして画面内に *****/
.menu.open {
  position: absolute;
  right: 0;
  z-index: 100000;
}

@media screen and (min-width: 767px) {
  .hbmenuBoxbtn {
    display: none;
  }
}

/**************** ここまで、メニューのスタイリング ****************/
.btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: #036DB7;
  color: #fff;
  display: inline-block;
  border: 1px solid #036DB7;
}

.btn:hover {
  color: #036DB7;
  background-color: #fff;
}

.btn[target="_blank"] {
  padding: 1rem 3rem;
}

.btn[target="_blank"]::after {
  content: url(..//img/common/tabs.svg);
  margin-left: 1rem;
}

.btn--color2 {
  background-color: #2EA7E0;
  border: 1px solid #2EA7E0;
}

.btn--color3 {
  background-color: #E68A00;
  border: 1px solid #E68A00;
}

.btn--color3:hover {
  color: #E68A00;
}

.mv {
  padding: 15px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#036DB7), color-stop(85%, #2EA7E0), color-stop(85%, #fff));
  background: linear-gradient(#036DB7, #2EA7E0 85%, #fff 85%);
}

.mv.is-fixed {
  margin-top: 116px;
}

@media screen and (max-width: 768px) {
  .mv {
    margin-top: 46px;
    padding: 0;
  }
}

.mv__header {
  margin-bottom: 30px;
}

.mv__slick {
  margin: auto;
}

.mv__slick img {
  margin: 0 5vw;
}

@media screen and (max-width: 768px) {
  .mv__slick img {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .mv .slick-dots {
    bottom: 0;
  }
}

.mv .slick-next {
  color: white;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  padding: 2%;
  font-size: 3rem;
  height: 60%;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  cursor: pointer;
  right: 0px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: 0;
}

@media screen and (max-width: 768px) {
  .mv .slick-next {
    padding: 4%;
    background: rgba(32, 32, 32, 0.5);
  }
}

.mv .slick-next:before {
  content: "\276D" !important;
  font-size: 3vw;
}

@media screen and (max-width: 768px) {
  .mv .slick-next:before {
    font-size: 5vw;
  }
}

.mv .slick-prev {
  color: white;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  padding: 2%;
  font-size: 3rem;
  height: 60%;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  cursor: pointer;
  left: 0px;
  font-size: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 10000;
}

@media screen and (max-width: 768px) {
  .mv .slick-prev {
    padding: 4%;
    background: rgba(32, 32, 32, 0.5);
  }
}

.mv .slick-prev::before {
  content: "\276C";
  font-size: 3vw;
  position: relative;
  left: -1.2rem;
}

@media screen and (max-width: 768px) {
  .mv .slick-prev::before {
    font-size: 5vw;
    left: -3px;
  }
}

.mv .slick-slide {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.mv .slick-current, .mv .is-active-next {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec {
  max-width: 949px;
  margin: auto;
  padding: 110px 0 130px;
}

.secBg2 {
  background-color: #F9FDFF;
}

@media screen and (max-width: 768px) {
  .sec {
    padding: 40px 0 40px;
  }
}

.sec__cards {
  margin-bottom: 89px;
}

.sec--lg {
  padding: 71px 0 80px;
  margin: auto;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .sec--lg {
    padding: 35px 0 40px;
  }
}

.secBg {
  background: -webkit-gradient(linear, left top, left bottom, from(#036DB7), to(#2EA7E0));
  background: linear-gradient(#036DB7, #2EA7E0);
}

.secBg__bigCards {
  margin-bottom: 85px;
}

@media screen and (max-width: 768px) {
  .secBg__more {
    margin: 0 3%;
  }
}

@media screen and (max-width: 768px) {
  .sec__more {
    margin: 0 3%;
  }
}

.titleBox {
  text-align: center;
  padding-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .titleBox {
    padding-bottom: 24px;
  }
}

.titleBox--secBg {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .titleBox--secBg {
    margin: 0 5% 40px;
  }
}

.titleBox__title {
  margin-bottom: 16px;
  font-size: 3.2rem;
}

@media screen and (max-width: 768px) {
  .titleBox__title {
    margin-bottom: 10px;
    font-size: 2.4rem;
  }
}

.titleBox__title--secBg {
  color: #fff;
  font-size: 5.2rem;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .titleBox__title--secBg {
    font-size: 2rem;
    margin-bottom: 11px;
  }
}

.titleBox__smallTitle {
  color: #036DB7;
}

@media screen and (max-width: 768px) {
  .titleBox__smallTitle {
    font-size: 1rem;
  }
}

.titleBox__smallTitle--secBg {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .titleBox__smallTitle--secBg {
    font-size: 1.2rem;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__item:not(:nth-child(3n)) {
  margin-right: 41px;
}

@media screen and (max-width: 768px) {
  .cards__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

.card {
  width: calc(100% / 3);
  display: block;
}

.card__img {
  margin-bottom: 16px;
}

.card__date {
  color: #949494;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .card__date {
    font-size: 1.2rem;
  }
}

.card__content {
  font-size: 1.8rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .card__content {
    font-size: 1.2rem;
  }
}

.morebtn {
  text-align: right;
  font-size: 1.4rem;
}

.morebtn::after {
  content: url(../img/common/right-arrow.svg);
  margin-left: 1rem;
}

.morebtn--white {
  color: #fff;
}

.morebtn--white::after {
  content: url(../img/common/right-arrow--white.svg);
}

.external {
  text-align: right;
}

.external a::after {
  content: url(../img/common/tabs-black.svg);
  margin-left: 1rem;
}

.bigCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .bigCards {
    display: block;
    margin: 5%;
  }
}

.bigCards__item:not(:nth-child(3n)) {
  margin-right: 41px;
}

@media screen and (max-width: 768px) {
  .bigCards__item:not(:nth-child(3n)) {
    margin: 0 0 45px;
  }
}

.bigCard {
  width: calc(100% / 3);
  background-color: #fff;
  padding: 4px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .bigCard {
    width: 100%;
  }
}

.bigCard__img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.bigCard__title {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .bigCard__title {
    font-size: 1.6rem;
    margin-bottom: 6px;
  }
}

.bigCard__content {
  padding: 32px 40px 25px 40px;
}

@media screen and (max-width: 768px) {
  .bigCard__content {
    padding: 18px 22px;
  }
}

.bigCard__text {
  font-size: 1.4rem;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .bigCard__text {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}

.bigCard__btn {
  text-align: center;
}

.sec__descTopLay {
  max-width: 1083px;
  margin: auto;
}

.descTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .descTop {
    display: block;
    margin: 0 5%;
  }
}

.descTop__texts {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .descTop__texts {
    width: 100%;
    margin-bottom: 27px;
  }
}

.descTop__title {
  font-size: 3.6rem;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .descTop__title {
    font-size: 2rem;
    margin-bottom: 11px;
  }
}

.footerContents {
  padding: 45px 0 0;
}

@media screen and (max-width: 768px) {
  .footerContents {
    padding-top: 25px;
  }
}

.footerContents__banners {
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footerContents__banners {
    padding: 0 5%;
    margin-bottom: 40px;
  }
}

.footerContents__banners img {
  width: calc(92% / 4);
}

@media screen and (max-width: 768px) {
  .footerContents__banners img {
    margin-bottom: 20px;
    width: 46%;
  }
}

.footerContents__hr {
  max-width: 1080px;
  margin: auto;
  color: #fff;
  width: 50%;
}

.footerContents__menu {
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .footerContents__menu {
    padding: 0;
  }
}

.footerContactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: auto;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footerContactBox {
    padding: 20px 0 36px;
    display: block;
    text-align: center;
  }
}

.footerContactBox__title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footerContactBox__title {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .footerContactBox__text {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.footerContactBox__btn {
  width: 271px;
  display: inline-block;
  background-color: #fff;
  color: #036DB7;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 768px) {
  .footerContactBox__btn {
    width: 80%;
    border-radius: 50px;
    color: #000;
    padding: 10px;
    font-size: 1.2rem;
  }
}

.footerContactBox__btn span {
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.footerContactBox__btn::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #BFDAED;
  position: absolute;
  border-radius: 50px;
  left: -60px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .footerContactBox__btn::before {
    display: none;
  }
}

.footerContactBox__btn:hover::before {
  width: 100%;
  border-radius: 0;
  left: 0;
}

.footerContactBox__btn::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-top: 2px solid #036DB7;
  border-right: 2px solid #036DB7;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .footerContactBox__btn::after {
    display: none;
  }
}

.footerContactBox__btn--accent {
  color: #E68A00;
}

.footerContactBox__btn--accent::before {
  background-color: #FFDCA8;
}

.footerContactBox__btn--accent::after {
  border-top: 2px solid #E68A00;
  border-right: 2px solid #E68A00;
}

.gmap iframe {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gmap iframe {
    height: 184px;
  }
}

.footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 663px;
  margin: auto;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footerMenu {
    display: block;
    background-color: #333333;
    color: #fff;
    max-width: inherit;
  }
}

.footerMenu li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .footerMenu li {
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #fff;
  }
}

.footerMenu li + li {
  border-left: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .footerMenu li + li {
    border-left: none;
  }
}

.copyRight {
  padding: 20px;
  text-align: center;
}

.copyRight__logo {
  width: 200px;
  margin: auto auto 20px;
}

.copyRight__text {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .copyRight__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .slider-info {
    padding-bottom: 20px;
    margin-bottom: 50px !important;
  }
  .slider-info a {
    padding: 0 15px;
  }
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110000;
}

#loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.loading__container {
  width: 50%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

#logo-illust-body-1 {
  fill: #5ABAE0;
}

#logo-illust-phone-5 {
  fill: #2E89BC;
  /*   animation-name: anime-logo-parts;      
  animation-duration: 2s;  
  animation-timing-function:step-end ;  */
}

#logo-illust-nose-2 {
  -webkit-animation-name: anime-logo-parts;
          animation-name: anime-logo-parts;
  /*keyframe名*/
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  /*所要時間*/
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  /*進行割合*/
}

#logo-illust-eye-3 {
  -webkit-animation-name: anime-logo-parts;
          animation-name: anime-logo-parts;
  /*keyframe名*/
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  /*所要時間*/
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  /*進行割合*/
}

/*#logo-illust-hand-4{
  fill: #fff;
    animation-name: anime-logo-parts; 
  animation-duration: 2s;  
  animation-timing-function:step-end ; 
} */
.logo-item {
  stroke-width: 2;
  /*線の太さ*/
  stroke-dasharray: 4500;
  /*線の間隔*/
  -webkit-animation-name: anime-logo;
          animation-name: anime-logo;
  /*keyframe名*/
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
  /*所要時間*/
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /*進行割合*/
}

/* アニメーション設定 */
@-webkit-keyframes anime-logo {
  0% {
    fill: #fff;
    /*塗りつぶし色*/
    stroke-dashoffset: 4500;
    /*線の始まりの開始位置*/
    stroke: #808080;
    /*パスの色*/
  }
  85% {
    fill: #fff;
    /*塗りつぶし色*/
  }
  100% {
    stroke-dashoffset: 0;
    /*線の始まりの開始位置*/
    stroke: white;
    /*パスの色*/
  }
}
@keyframes anime-logo {
  0% {
    fill: #fff;
    /*塗りつぶし色*/
    stroke-dashoffset: 4500;
    /*線の始まりの開始位置*/
    stroke: #808080;
    /*パスの色*/
  }
  85% {
    fill: #fff;
    /*塗りつぶし色*/
  }
  100% {
    stroke-dashoffset: 0;
    /*線の始まりの開始位置*/
    stroke: white;
    /*パスの色*/
  }
}

@-webkit-keyframes anime-logo-parts {
  0% {
    fill: #fff;
  }
  100% {
    fill: #000;
  }
}

@keyframes anime-logo-parts {
  0% {
    fill: #fff;
  }
  100% {
    fill: #000;
  }
}

/* ローディングテキスト */
.loading {
  margin: auto;
  width: 30%;
}

.loading span {
  font-size: 24px;
  text-align: center;
  color: #adadad;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  display: inline-block;
  margin: 0 -.075em;
  -webkit-animation: loading 1s infinite alternate;
          animation: loading 1s infinite alternate;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loading span:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.loading span:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.loading span:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.loading span:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.loading span:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.loading span:nth-child(9) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.loading span:nth-child(10) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

/* プログレスバー */
#container {
  margin: auto;
  width: 60%;
  height: 8px;
  position: relative;
}

.progressbar-text {
  right: 50% !important;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */