@charset "UTF-8";
.breadCrumb {
  max-width: 1280px;
  margin: auto;
  padding: 10px 0;
}

.breadCrumbBox {
  border-bottom: 1px solid #2EA7E0;
}

@media screen and (max-width: 768px) {
  .breadCrumbBox {
    border-bottom: 1px solid #DBF3FF;
  }
}

@media screen and (max-width: 768px) {
  .breadCrumb {
    padding: 10px;
    font-size: 1rem;
  }
}

.breadCrumb__item a {
  color: #036DB7;
}

.breadCrumb__item:not(:last-child)::after {
  content: ">";
  margin: 0 0.5em;
}

.mv {
  margin-bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#036DB7), color-stop(85%, #2EA7E0));
  background: linear-gradient(#036DB7, #2EA7E0 85%);
}

.mv--under {
  background-image: url(../img/message/mv.jpg);
  background-position: left center;
  background-size: cover;
  padding: 110px 0 110px 123px;
  background-repeat: no-repeat;
}

.mv--under--company {
  background-image: url(../img/company/mv.jpg);
}

.mv--under--error {
  background-image: url(../img/error/mv.jpg);
}

@media screen and (max-width: 768px) {
  .mv--under {
    background-image: none;
    padding: 30px;
  }
}

.mv--under__title {
  font-size: 3.2rem;
  font-weight: bold;
  color: #036DB7;
  border-left: 1px solid #036DB7;
  line-height: 1.5;
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .mv--under__title {
    font-size: 2.4rem;
    padding-left: 12px;
    line-height: 1;
  }
}

.mv--under__subTitle {
  color: #333333;
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .mv--under__subTitle {
    font-size: 1.2rem;
  }
}

.mv__header {
  margin-bottom: 0;
}

.msMovBox__logo {
  max-width: 226px;
  margin: auto auto 74px;
}

@media screen and (max-width: 768px) {
  .msMovBox__logo {
    width: 50%;
    margin: auto auto 45px;
  }
}

.sec--small {
  padding: 68px  0 87px;
}

@media screen and (max-width: 768px) {
  .sec--small {
    padding: 34px 0 44px;
  }
}

.messageContent__text {
  font-size: 2.2rem;
  text-align: center;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .messageContent__text {
    font-size: 1.2rem;
  }
}

.messageContent__text:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .messageContent__text:not(:last-child) {
    margin-bottom: 24px;
  }
}

.messageContent__text--exBig {
  font-size: 3.6rem;
}

@media screen and (max-width: 768px) {
  .messageContent__text--exBig {
    font-size: 1.8rem;
  }
}

.messageContent__text--big {
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .messageContent__text--big {
    font-size: 1.2rem;
  }
}

.textEmpha {
  color: #036DB7;
}

.fTitle {
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.5, 1.5);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.5, 1.5);
  border: 1px solid #c7c7c7;
  height: 368px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/message/footer.jpg);
  background-size: 100%;
  background-position: center;
}

.fTitle:hover {
  background-image: url(../img/message/footer.jpg);
  border: 1px solid #fff;
  padding: 20px 40px;
  background-repeat: no-repeat;
  background-size: 110%;
}

@media screen and (max-width: 768px) {
  .fTitle {
    height: auto;
    background-size: cover;
    height: 179px;
  }
  .fTitle:hover {
    padding: 15px 25px;
    background-size: cover;
  }
}

.fTitle__Bg {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  background-color: #fff;
}

.fTitle:hover .fTitle__Bg {
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .fTitle__Bg {
    padding: 62px;
  }
  .fTitle__Bg::after {
    content: "";
    background-image: url(../img/common/footer_arrow-sp.svg);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 20px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
  }
}

.fTitle__title {
  font-size: 3.6rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .fTitle__title {
    font-size: 2rem;
  }
}

.fTitle__subTitle {
  color: #036DB7;
}

@media screen and (max-width: 768px) {
  .fTitle__subTitle {
    font-size: 1rem;
  }
}

.copyRight__logo--under {
  width: 318px;
}

@media screen and (max-width: 768px) {
  .copyRight__logo--under {
    width: 30%;
  }
}

.sec__table {
  padding: 120px 70px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .sec__table {
    margin: 0 5%;
    padding: 35px 20px;
  }
}

.table {
  width: 100%;
  color: #4F4F4F;
}

.table tr {
  border-top: 1px solid #E2E2E2;
}

.table tr:last-child {
  border-bottom: 1px solid #E2E2E2;
}

.table th {
  padding: 40px 0;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .table th {
    padding: 20px 0 10px 0;
    font-size: 1.2rem;
    display: block;
    width: 100%;
  }
}

.table td {
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .table td {
    padding: 0 0 20px 0;
    font-size: 1.2rem;
    display: block;
  }
}

.mv--under--contact {
  background-image: url(../img/contact/mv.jpg);
}

@media screen and (max-width: 768px) {
  .mv--under--contact {
    background-image: none;
  }
}

.contactDesc {
  text-align: center;
  color: #fff;
  margin: 0 5%;
}

.contactDesc__title {
  font-size: 3.6rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .contactDesc__title {
    font-size: 1.6rem;
  }
}

.contactDesc__note {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .contactDesc__note {
    font-size: 1.2rem;
  }
}

.contactTelBox {
  max-width: 1080px;
  background-color: #fff;
  padding: 35px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .contactTelBox {
    padding: 35px 10px;
  }
}

.contactTelBox__text {
  color: #E68A00;
  font-size: 3.6rem;
}

@media screen and (max-width: 768px) {
  .contactTelBox__text {
    font-size: 1.6rem;
  }
}

.contactTelBox__tel {
  font-size: 6.4rem;
  color: #036DB7;
}

@media screen and (max-width: 768px) {
  .contactTelBox__tel {
    font-size: 3.6rem;
  }
}

.contactTelBox__note {
  color: #036DB7;
}

@media screen and (max-width: 768px) {
  .contactTelBox__note {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .contactform {
    margin: 0 10%;
  }
}

.contactform dt {
  font-weight: normal;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .contactform dt {
    margin-bottom: 7px;
    font-size: 1.2rem;
  }
}

.contactform dd {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .contactform dd {
    margin-bottom: 30px;
  }
}

.contactform input[type="text"], .contactform textarea, .contactform input[type="email"] {
  padding: 20px 13px;
  background-color: #F4F4F4;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contactform input[type="text"], .contactform textarea, .contactform input[type="email"] {
    padding: 15px 7px;
    font-size: 1.4rem;
  }
}

.contactform input[type="text"]::-webkit-input-placeholder, .contactform textarea::-webkit-input-placeholder, .contactform input[type="email"]::-webkit-input-placeholder {
  color: #dadada;
}

.contactform input[type="text"]:-ms-input-placeholder, .contactform textarea:-ms-input-placeholder, .contactform input[type="email"]:-ms-input-placeholder {
  color: #dadada;
}

.contactform input[type="text"]::-ms-input-placeholder, .contactform textarea::-ms-input-placeholder, .contactform input[type="email"]::-ms-input-placeholder {
  color: #dadada;
}

.contactform input[type="text"]::placeholder, .contactform textarea::placeholder, .contactform input[type="email"]::placeholder {
  color: #dadada;
}

.contactform input[type="checkbox"] {
  background-color: #F4F4F4;
}

.contactform__privacy {
  margin-bottom: 40px;
}

.contactform__scroll {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .contactform__scroll {
    margin-bottom: 20px;
  }
}

.required::after {
  content: "※";
  color: #E68A00;
  margin-left: 5px;
  font-size: 1em;
}

.scroll {
  padding: 18px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  overflow-y: scroll;
  color: #036DB7;
  border: 1px solid #707070;
}

@media screen and (max-width: 768px) {
  .scroll {
    width: 100%;
    height: 195px;
  }
}

.scroll__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .scroll__title {
    font-size: 1.6rem;
  }
}

.scroll__stitle {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .scroll__stitle {
    font-size: 1.4rem;
  }
}

.scroll__content:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .scroll__text {
    font-size: 1.2rem;
  }
}

.privacyCheck {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .privacyCheck {
    font-size: 1.2rem;
  }
}

.privacyCheck__title {
  margin-bottom: 9px;
}

.privacyCheck input[type="checkbox"] {
  margin-right: 5px;
}

.contactBtn {
  padding: 20px 60px;
  background-color: #036DB7;
  color: #fff;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .contactBtn {
    width: 100%;
    padding: 20px 0;
  }
}

.contactBtns {
  text-align: center;
}

.errorMessage__text {
  font-size: 36px;
  text-align: center;
  margin-bottom: 69px;
}

@media screen and (max-width: 768px) {
  .errorMessage__text {
    font-size: 16px;
  }
}

.errorMessage__btns {
  text-align: center;
  margin: 0 5%;
}

.btn--error {
  padding: 1rem 8rem;
}

@media screen and (max-width: 768px) {
  .btn--error {
    padding: 1rem 3rem;
  }
}

.btn--error:not(:first-child) {
  margin-left: 36px;
}

@media screen and (max-width: 768px) {
  .btn--error:not(:first-child) {
    margin-left: 5%;
  }
}
/*# sourceMappingURL=under.css.map */