
html {
    font-size: 62.5%;
  }
body{
    color: $font-color;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
}
img{
  width: 100%;
}
a{
  transition-duration:$transitionDuration;

}
a:hover{
  opacity: 0.8;
}
.header{
  max-width: 1839px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu{
    display: flex;
    font-weight: bold;
    align-items: center;
    li{
      &:not(:first-of-type){margin-left: 40px;}
    }
    a{
      padding-bottom: 10px;
      border-bottom: 1px solid #036db800;
      &:hover{
      border-bottom: 1px solid #036EB8;
    }
    }
  }
}
.btn{
   padding: 1rem 2rem;
   border-radius: 50px;
   background-color: $sub-color;
   color: #fff;
   display: inline-block;
   border:1px solid $sub-color;
   &:hover{
     color: $sub-color;
     background-color: #fff;
   }
   &[target="_blank"]{
    padding: 1rem 3rem;
     &::after{
      content: url(/assets/img/common/tabs.svg);
      margin-left: 1rem;
     }
   }
   &--color2{
     background-color: $main-color;
     border:1px solid $main-color;
   }
   &--color3{
    background-color: $accent-color;
    border:1px solid $accent-color;
    &:hover{
      color: $accent-color;
    }
   }
}
.mv{
  padding: 15px 0;
  background: linear-gradient(#036DB7, #2EA7E0 85%, #fff 85%);
&__header{
  margin-bottom: 30px;
}
  &__slick{
  margin: auto;
  img{
    margin: 0 5vw;
  }
}
.slick-next{
  color: white;
  display: block;
  background: rgba(255,255,255,0.2);
  position: absolute;
  padding: 2.5%;
  font-size: 3rem;
  height: 60%;
  vertical-align: middle;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
  right: 0px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: 0;
}
.slick-next:before{
content: "\276D" !important;
font-size: 3vw;
}
.slick-prev{
  color: white;
  display: block;
  background: rgba(255,255,255,0.2);
  position: absolute;
  padding: 2%;
  font-size: 3rem;
  height: 60%;
  vertical-align: middle;
  // line-height: 10rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
  left: 0px;
  font-size: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
z-index: 10000;
}
.slick-prev::before{
  content: "\276C";
  font-size: 3vw;    
  position: relative;
  left: -1.2rem;
}
.slick-slide {
  transition: 1s ease;
  transform: scale(.6);
}
.slick-current,.is-active-next {
  transform: scale(1);
}
}
.sec{
    max-width: 949px;
    margin: auto;
    padding: 110px 0 130px;
    &__cards{
      margin-bottom: 89px;
    }
    &--lg{
      padding: 71px 0 80px;
      margin: auto;
      max-width:1280px;
    }
    &Bg{
      background:$gradation;
      &__bigCards{
        margin-bottom: 85px;
      }
    }
}
.titleBox{
  text-align: center;
  padding-bottom:42px ;
  &--secBg{
    margin-bottom: 70px;
  }
  &__title{
    margin-bottom: 29px;
    font-size: 3.2rem;
    &--secBg{
      color: #fff;
      font-size: 5.2rem;
      margin-bottom: 35px;
    }
  }
  &__smallTitle{
    color: $sub-color;
    &--secBg{
      color: #fff;
    }
  }
}
.cards{
  display: flex;
  &__item:not(:nth-child(3n)){
    margin-right: 41px;
  }
}
.card{
  width: calc(100% / 3);
  display: block;
  &__img{
    margin-bottom: 16px;
  }
  &__date{
    color: #949494;
    margin-bottom: 15px;
  }
  &__content{
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.morebtn{
  text-align: right;
  font-size: 1.4rem;
  &::after{
    content: url(/assets/img/common/right-arrow.svg);
    margin-left: 1rem;
  }
  &--white{
    color: #fff;
    &::after{
      content: url(/assets/img/common/right-arrow--white.svg);
    }
  }
}
.external{
  text-align: right;
  & a::after{
      content: url(/assets/img/common/tabs-black.svg);
      margin-left: 1rem;
  }
}
.bigCards{
display: flex;
&__item:not(:nth-child(3n)){
  margin-right: 41px;
}
}
.bigCard{
  width: calc(100% / 3);
  background-color: #fff;
  padding: 4px;
  border-radius: 10px;
  &__img{
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
  }
  &__title{
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 16px;
  }
  &__content{
    padding: 32px 40px 25px 40px;
  }
  &__text{
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
  &__btn{
    text-align: center;
  }
}
.sec__descTopLay{
  max-width: 1083px;
  margin: auto;
}
.descTop{
  display: flex;
  align-items: center;
  &__texts{
    width: 50%;
  }
  &__title{
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.footerContents{
  padding: 45px 0 0;
  &__banners{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    img{
      width: calc(92% / 4);
    }
  }
  &__hr{
    max-width: 1080px;
    margin: auto;
    color: #fff;
  }
  &__menu{
    padding: 12px;
  }
}
.footerContactBox{
  display: flex;
  max-width: 1280px;
  margin: auto;
  color: #fff;
  justify-content: space-between;
  padding: 65px 0 100px;
  align-items: center;
  &__title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__btn{
    &s{
      a:last-child{
        margin-left: 51px;
      }
    }
    width: 271px;
    display: inline-block;
    background-color: #fff;
    color: $sub-color;
    padding: 20px 0;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    &::before{
      content: "";
      width: 100px;
      height: 100px;
      display: block;
      background-color: #BFDAED;
      position: absolute;
      border-radius: 50px;
      left: -60px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &::after{
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-top: 2px solid $sub-color;
      border-right: 2px solid $sub-color;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: 1em;
      top: 0;
      bottom: 0;
      margin: auto;
  }
  &--accent{
    color: $accent-color;
    &::before{
      background-color: #FFDCA8;
    }
    &::after{
      border-top: 2px solid $accent-color;
      border-right: 2px solid $accent-color;      
    }
  }
  }
}
.gmap{
  iframe{
    width: 100%;
  }
}
.footerMenu{
  display: flex;
  max-width: 663px;
  margin: auto;
  text-align: center;
  color: #fff;
  li{
    flex-grow: 1;
  }
  li + li {
    border-left: 1px solid #fff;
  }
}
.copyRight{
  padding: 20px;
  text-align: center;
  &__text{
    font-size: 12px;
  }
}
